<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
    {{ partial "head.html" . }}
    {{- $js := resources.Get "js/main.js" | js.Build (dict "minify" true) | fingerprint }}
    {{ block "css" . }}{{ end }}
    {{ block "head-js" . }}{{ end }}
</head>
<body>
  <header>{{ partialCached "header.html" . "header" }}</header>
  <div class="layout">
    <aside>{{ partial "sidebar.html" . }}</aside>
    <main>{{ block "main" . }}{{ end }}</main>
  </div>
  {{/*<footer>{{ partialCached "footer.html" . "footer" }}</footer>*/}}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ block "body-js" . }}{{ end }}
</body>
</html>
