<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
    {{ partial "head.html" . }}

    {{/* 子テンプレートから中身を注入してもらうためのソケット */}}
    {{ block "css" . }}{{ end }}
    {{ block "head-js" . }}{{ end }}
</head>

<body>
  {{ partialCached "header.html" . "header" }}

  {{ partial "sidebar.html" . }}
  <main>
      {{ block "main" . }}{{ end }}
  </main>

    {{ if .Store.Get "hasMermaid" }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({
        startOnLoad: true,
        theme: 'neutral'
      });
    </script>

    {{ end }}
  {{- $copyCode := resources.Get "js/copy-code.js" | minify | fingerprint }}
  <script src="{{ $copyCode.RelPermalink }}" integrity="{{ $copyCode.Data.Integrity }}" defer></script>

  {{/* {{ partialCached "footer.html" . "main-footer" }} */}}

  {{ block "body-js" . }}{{ end }}
</body>

</html>
