{{/* page.htmlからbaseof.htmlに差込み */}}
{{ define "main" }}
<div class="page-wrapper">
  <h1 class="article-title" data-pagefind-weight="10">{{ .Title }}</h1>
  {{- if or .Params.summary .Params.tags }}
  <div class="article-summary">
    {{- with .Params.summary }}
    <p data-pagefind-weight="5">{{ . }}</p>
    {{- end }}
    {{- with .Params.tags }}
    <div class="card-tags">
      {{- range . }}
      <a class="tag" href="{{ ($.Site.GetPage (printf "/tags/%s" .)).Permalink }}">{{ . }}</a>
      {{- end }}
    </div>
    {{- end }}
  </div>
  {{- end }}
  <article class="content">
    {{ .Content }}
    {{ partial "backlinks.html" . }}
  </article>
 </div>
{{ end }}

{{/* page.htmlからbaseof.htmlに差込み */}}
{{ define "toc" }}
  <aside class="toc">{{ partial "toc.html" . }}</aside>
{{ end }}


{{/* --- Mermaid ---
- Mermaidが必要な記事だけ、baseof.htmlの「body-js」ブロックに注入する。
- assets/js/modules/mermaid-init.jsを作成する方法もあるがmain.jsで読まれないものをおくのは奇妙。static/js/init-mermaid に分離するのも手だが、page.htmlにベタ書きするほうがシンプルでると判断した。
*/}}
{{ define "body-js" }}
  {{ if .Store.Get "hasMermaid" }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({
        startOnLoad: true,
        theme: 'neutral'
      });
    </script>
  {{ end }}
{{ end }}
