{{ define "main" }}
<div class="page-wrapper">
  <h1 class="article-title" data-pagefind-weight="10">{{ .Title }}</h1>
  {{- if or .Params.summary .Params.tags }}
  <div class="article-summary">
    {{- with .Params.summary }}
    <p data-pagefind-weight="5">{{ . }}</p>
    {{- end }}
    {{- with .Params.tags }}
    <div class="card-tags">
      {{- range . }}
      <a class="tag" href="{{ ($.Site.GetPage (printf "/tags/%s" .)).Permalink }}">{{ . }}</a>
      {{- end }}
    </div>
    {{- end }}
  </div>
  {{- end }}
  <article class="content">
    {{ .Content }}
    {{ partial "backlinks.html" . }}
  </article>
  {{ if .TableOfContents }}
  <aside class="toc-sidebar">
    <nav class="toc">
      <h2 class="toc-title">Outline</h2>
      {{ .TableOfContents }}
    </nav>
  </aside>
  {{ end }}
</div>
{{ end }}

{{/* 💡 Mermaidが必要な記事のときだけ、baseof.htmlの「body-js」ブロックに注入する */}}
{{- if .Store.Get "hasMermaid" -}}
  {{- define "body-js" -}}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({
        startOnLoad: true,
        theme: 'neutral'
      });
    </script>
  {{- end -}}
{{- end -}}
