{{/* sidebar.html, called from baseof.html */}}


<div class="sidebar-header">
  <button
    id="sidebar-toggle"
    type="button"
    aria-label="Toggle sidebar"
    aria-expanded="true"
  >
    {{- with resources.Get "icons/panel-left.svg" }}
      {{ .Content | safeHTML }}
    {{- end }}
  </button>
</div>

<div class="sidebar-title">
  <a href="{{ .Site.BaseURL }}">
    {{- with resources.Get "icons/library.svg" }}
      {{/* <svg の後ろに width="60" height="60" を注入する */}}
      {{ $svg := .Content | replaceRE `<svg` `<svg width="60" height="60"` }}
      {{ $svg | safeHTML }}
    {{- end }}
  </a>
</div>

{{/* Incremental section filter */}}
<input id="section-search" type="search" autocomplete="off" />

<nav>
  <ul>
    {{- range .Site.Sections.ByTitle }}
      <li>
        <a
          href="{{ .RelPermalink }}"
          class="{{ if or (eq .RelPermalink $.RelPermalink) (.IsAncestor $) }}
            active
          {{ end }}"
          >{{ .Title }}</a
        >
      </li>
    {{- end }}
  </ul>
</nav>
