<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    {{- partial "head.html" . }}
</head>
<body>
  {{ partialCached "header.html" . "header" }}
  {{ partial "sidebar.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ if .Page.Store.Get "hasMermaid" }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({
        startOnLoad: true,
        theme: 'neutral'
      });
    </script>
  {{ end }}
</body>
</html>
